<div class="container mt-4">
    <h2 class="text-center">Manage Courses Portal</h2>
    <a href="/courses/add" class="btn btn-success mb-3">Add a New Course</a>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                {{!-- <th scope="col">Created By</th> --}}
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataset}}
            <tr>
                <th scope="row">
                    <img src="{{this.image}}" alt="Course Image" width="120" height="90">
                </th>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                {{!-- <td>{{this.createdBy.userName}}</td> --}}
                <td>{{truncateDesc this.description 60}}</td>
                <td>
                    <a href="/courses/edit/{{this._id}}" class="btn btn-info mx-2">Edit</a>
                    <a href="/courses/delete/{{this._id}}" class="btn btn-warning" onclick="return confirmDeletion()">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<Script>
    function confirmDeletion(){
        confirm("Are you sure that you want to delete this course?");
    }
</Script>